# API Configuration
API_BASE=http://localhost:3000

# Default Configuration Values
RETRY_DELAY=3
FACE_RECOGNITION_THRESHOLD=0.32
FRAME_COUNT=2
IMAGE_CAPTURE_INTERVAL=07:00

# UI Configuration
LOCALE=vi-VN
